html,
body {
  background: #fff2ea;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
  user-select: none;
}

#layers {
  position: relative;
  canvas {
    position: fixed;
    left: 51px;
    top: 0px;
    background-color: transparent;
    touch-action: none;
  }
}

#menu {
  user-select: none;
  z-index: 100;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 100%;
  background: #686868;
  position: absolute;

  li {
    margin: 0;
    padding: 5px;
  }

  button {
    width: 100%;
    &.active {
      background: rgb(93, 146, 100);
      color: #fff;
    }
  }
}

.page {
  margin: 0;
  margin-left: 60px;
}

.login {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 100;
  font-size: 12px;
  color: #999;
  text-align: center;
  width: 200px;
  height: 30px;
  line-height: 30px;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #000;
  }
}

button {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 3px;
  padding: 5px;
  &:hover {
    cursor: pointer;
    background: #f0f0f0;
  }
}
