html, body {
  background: #fff2ea;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

#canvas {
  position: absolute;
  z-index: 1;
  background-color: transparent;
}

#selection {
  position: absolute;
  z-index: 0;
  background-color: transparent;
}
